<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>On Da Rox Manager</title>
</head>

<!-- Edit Body -->

<body>

    <a href="/drink/" style="text-decoration: none"><h1>On Da Rox Manager</h1></a><br>

    <nav>
        <a class="button" href="/drink/new" style="text-decoration: none">New Item</a> 
    </nav><br>

    <form action="/drink/<%= drink.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
    <hr><br>

    <h1>Edit Drink page</h1>

    <!-- Drink Name -->

    <form action="/drink/<%= drink.id %>?_method=PUT" method="POST">
    
    <h1> <%= drink.drinkName %> </h1>

    <input type="text" name="drinkName" value="<%= drink.drinkName %>" /> <br><br>

    <input type="submit" value="Update <%= drink.drinkName %>">

    </form>

</body>
</html>