<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<!-- Index Body -->

<body>

    <style>
        h1 {
            font-size: 45px;
        }
        h4 {
            margin: 0 -10px 10px;
        }
        /* .flex-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .flex-box {
            width: 200px;
            height: 200px;

        } */
    </style>

    <h1>On Da Rox Manager</h1><br>

    <nav>
        <a href="/drink/new" style="text-decoration: none"><button id="newitem">New Item</button></a> 
    </nav><hr><br>
    
    <ul>
        
        <%  for (let i = 0; i < drink.length; i++) { %> 
   
            <h4><%= drink[i].drinkName %><h4> <h6>#<%= drink[i].idDrink %></h6>

            <a href="/drink/<%= drink[i].id %> "><img src="<%= drink[i].drinkImage %>" alt=""></a><br>
            
            <div class="buttons">

            <!-- Edit Link Button -->

            <a href="/drink/<%= drink[i].id %>/edit"><button id="edit">Edit</button></a><br>

            <!-- Delete Function Button -->

            <form action="/drink/<%= drink[i].id %>?_method=DELETE" method="post">
                <input id="delete" type="submit" value="Delete">
            </form>

            </div>
            <br>

        <% } %> 
    
    </ul>
   
</body>
</html>