<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>On Da Rox Manager</title>
</head>

<!-- Index Body -->

<body>
    <h1>On Da Rox Manager</h1><br>

    <ul>
        <%  for (let i = 0; i < drink.length; i++) { %> 

            <h2><%= drink[i].drinkName %><h2>

            <a href="/drink/<%= i %> "><img src="<%= drink[i].drinkImage %>" alt=""></a><br><br>

            <!-- Delete Function Button -->
            <div class="buttons"></div>
            <form action="/drink/<%= i %>?_method=DELETE" method="post">
                <input type="submit" value="Delete">
            </form>

            <!-- Edit Link Button -->

            <a href="/pokemon/<%= i %>/edit"><button>Edit</button></a><br>
            </div><br><br>

        <% } %> 
    </ul>
    
</body>
</html>