<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<!-- Index Body -->

<body>

    <style>
        h1 {
            font-size: 45px;
        }
        h4 {
            margin: 0 -10px 10px;
        }
    </style>

    <h1>On Da Rox Manager</h1><br>

    <nav>
        <a class="button" href="/drink/new" style="text-decoration: none">New Item</a> 
    </nav><br><br>

    <ul>

        <%  for (let i = 0; i < drink.length; i++) { %> 
   
            <h4><%= drink[i].drinkName %><h4> <h6>#<%= drink[i].idDrink %></h6>

            <a href="/drink/<%= drink[i].id %> "><img src="<%= drink[i].drinkImage %>" alt=""></a><br>
            
            <div class="buttons"></div>

            <!-- Edit Link Button -->

            <a href="/drink/<%= drink[i].id %>/edit"><button>Edit</button></a><br>

            <!-- Delete Function Button -->

            <form action="/drink/<%= drink[i].id %>?_method=DELETE" method="post">
                <input type="submit" value="Delete">
            </form>

            </div><br>

        <% } %> 
        
    </ul>
    
</body>
</html>