<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<!-- Show Body -->

<body>

    <a href="/drink/" style="text-decoration: none"><h1 class="welcome2">Ondarox Manager</h1></a><br>

    <nav>
        <a href="/drink/new" style="text-decoration: none"><button id="newitem">New Item</button></a> 
    </nav><hr>

    <!-- Drink Data -->
    
    <h1><%= drink.drinkName %></h1>
    <p>#<%= drink.idDrink %></p>
    <p>alcoholic:&nbsp<%= drink.alcoholic %></p>

    <img src="<%= drink.drinkImage %> " alt="Drink Image">

    
    <h4>Ingredients: </h4> 
    <div id="ingredients-show">
        <p class="ingredients-show"><%= drink.ingredient1 %></p>
        <p class="ingredients-show"><%= drink.ingredient2 %></p>
        <p class="ingredients-show"><%= drink.ingredient3 %></p>
        <p class="ingredients-show"><%= drink.ingredient4 %></p>
        <p class="ingredients-show"><%= drink.ingredient5 %></p>
        <p class="ingredients-show"><%= drink.ingredient6 %></p>
        <p class="ingredients-show"><%= drink.ingredient7 %></p>
        <p class="ingredients-show"><%= drink.ingredient8 %></p>
        <p class="ingredients-show"><%= drink.ingredient9 %></p>
        <p class="ingredients-show"><%= drink.ingredient10 %></p>
    </div>

    <h4>Instructions: </h4>

    <div class="instructions">
    <p><%= drink.instructions %></p>
    </div>
    <h4>Drink History: </h4>

    <div class="drink-history">
    <p><%= drink.drinkHistory %></p>
    </div>  
    <a href="/drink/<%= drink.id %>/edit"><button>Edit</button></a><br>

    <hr>
    <p class="footer">On Da Rox - Cocktail Recipe App 2022</p>

</body>
</html>
